{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
    <main>
        <h2>Image Generator Using OpenAI API Key</h2>
        <form method="post" action="{% url 'image-genrator' %}">
            {% csrf_token %}
            <input type="text" name="text" placeholder="Enter prompt">
            <br>
            <button type="submit">Generate Image</button>
        </form>

        <div>
            {% if text %}
            <h4>User Prompt</h4>
            <p>{{ text }}</p>
            {% endif %}
        </div>

        {% if img_url %}
        <img src="{{ img_url }}" alt="Generated Image">
        <br>
        <a class="button" href="{{ img_url }}" download="generated_image.png">Download Image</a>
        {% endif %}
    </main>
</body>

</html>